<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>siswaServlet</servlet-name>
        <servlet-class>controller.siswaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guruServlet</servlet-name>
        <servlet-class>controller.guruServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kelasDAO</servlet-name>
        <servlet-class>controller.kelasDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kelasServlet</servlet-name>
        <servlet-class>controller.kelasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pelajaranServlet</servlet-name>
        <servlet-class>controller.pelajaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mapelServlet</servlet-name>
        <servlet-class>controller.mapelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletController</servlet-name>
        <servlet-class>controller.servletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guruServletInsert</servlet-name>
        <servlet-class>controller.Insert.guruServletInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guruServletDelete</servlet-name>
        <servlet-class>controller.delete.guruServletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guruServletEdit</servlet-name>
        <servlet-class>controller.edit.guruServletEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kelasServletInsert</servlet-name>
        <servlet-class>controller.Insert.kelasServletInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kelasServletDelete</servlet-name>
        <servlet-class>controller.delete.kelasServletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KelasServletDelete</servlet-name>
        <servlet-class>controller.edit.KelasServletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KelasServletEdit</servlet-name>
        <servlet-class>controller.edit.kelasServletEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mapelServletInsert</servlet-name>
        <servlet-class>controller.Insert.mapelServletInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mapelServletDelete</servlet-name>
        <servlet-class>controller.delete.mapelServletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mapelServletEdit</servlet-name>
        <servlet-class>controller.edit.mapelServletEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>siswaServletInsert</servlet-name>
        <servlet-class>controller.Insert.siswaServletInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>siswaServletDelete</servlet-name>
        <servlet-class>controller.delete.siswaServletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>siswaServletEdit</servlet-name>
        <servlet-class>controller.edit.siswaServletEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>idGuruSevlet</servlet-name>
        <servlet-class>controller.id.idGuruSevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>siswaServlet</servlet-name>
        <url-pattern>/siswaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guruServlet</servlet-name>
        <url-pattern>/guruServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kelasDAO</servlet-name>
        <url-pattern>/kelasDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kelasServlet</servlet-name>
        <url-pattern>/kelasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pelajaranServlet</servlet-name>
        <url-pattern>/pelajaranServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mapelServlet</servlet-name>
        <url-pattern>/mapelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletController</servlet-name>
        <url-pattern>/servletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guruServletInsert</servlet-name>
        <url-pattern>/guruServletInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guruServletDelete</servlet-name>
        <url-pattern>/guruServletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guruServletEdit</servlet-name>
        <url-pattern>/guruServletEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kelasServletInsert</servlet-name>
        <url-pattern>/kelasServletInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kelasServletDelete</servlet-name>
        <url-pattern>/kelasServletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KelasServletDelete</servlet-name>
        <url-pattern>/KelasServletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KelasServletEdit</servlet-name>
        <url-pattern>/KelasServletEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mapelServletInsert</servlet-name>
        <url-pattern>/mapelServletInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mapelServletDelete</servlet-name>
        <url-pattern>/mapelServletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mapelServletEdit</servlet-name>
        <url-pattern>/mapelServletEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>siswaServletInsert</servlet-name>
        <url-pattern>/siswaServletInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>siswaServletDelete</servlet-name>
        <url-pattern>/siswaServletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>siswaServletEdit</servlet-name>
        <url-pattern>/siswaServletEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>idGuruSevlet</servlet-name>
        <url-pattern>/idGuruSevlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
